.container{
    padding: 0 50px;
}

.nav-bar{
    padding: 0 50px;
}
.web-content{
    padding-bottom: 100px;
}
.web-heading-left h1{
    font-size: 52px;
}
.step-1 img[alt="arrows"] {
    right: -245px;
    top: -53px;
    z-index: -1;
  }
  .step-2 img[alt="arrows"] {
    right: -250px;
    top: 70px;
    z-index: -1;
  }
  .step-3 img[alt="arrows"] {
    width: 129px;
    height: 469px;
    right: -46px;
    top: 95px;
    z-index: -1;
  }
  .step-4 img[alt="arrows"] {
    width: 229px;
    left: -170px;
    top: -10px;
    z-index: -1;
  }
  .step-5 img[alt="arrows"] {
    left: -240px;
    top: 85px;
    z-index: -1;
  }
  .step-6 img[alt="arrows"] {
    right: -240px;
    top: 0;
    z-index: -1;
  }
  .stepCard:nth-child(odd) {
    margin-top: 100px;
  }