
    :root {
      --description-font-size: 16px;
      --heading-font-size: 32px;
      --padding-of-sections-tb: 40px;
      --padding-of-sections-lr: 16px;
    }
  
    .working-steps-heading img{
      display: none;
    }
  
    .working-steps-section {
      display: block;
    }
  
    /* Navigaton Bar */
    /* .container {
      padding: 0 5px;
    } */
  
    .nav-bar {
      position: fixed;
      padding: 0;
      top: 0;
      z-index: 5;
    }
  
    .upper-nav .logo img {
      margin: 15px 16px;
      width: 73px;
    }
  
    .burgerMenu {
      display: block;
    }
  
    .lower-nav {
      display: none;
    }
  
    .nav-icon,
    .web-config {
      display: none;
    }
  
    /* Main content of web page */
    .web-content {
      margin-top: 60px;
      /* padding-bottom: 47px; */
      flex-direction: column;
      gap: 30px;
      justify-content: center;
    }
  
  
  
    .web-heading-left {
      width: 100%;
      text-align: center;
    }
  
    .web-heading-left .glow {
      width: 250px;
      left: 0px;
      top: -5px;
    }
  
    .web-heading-left h1 {
      max-width: 320px;
      font-size: 32px;
      line-height: 42px;
      margin: 40px auto 16px;
    }
  
    .web-heading-left p {
      font-size: 16px;
      line-height: 42px;
      line-height: 18px;
      padding: 0 25px;
    }
  
    .web-heading-right {
      margin-top: 0;
      margin-right: 0;
    }
  
    .web-heading-right .main-img {
      width: 311px;
    }
  
    .heroImg-1 {
      width: 110px;
      left: 41px;
      top: 20px;
      z-index: -1;
    }
  
    .heroImg-2 {
      width: 110px;
      right: 0px;
      bottom: 25px;
      z-index: -1;
    }
  
    .dots-1 {
      width: 115px;
      height: 40px;
      left: -56px;
      bottom: 50px;
    }
  
    .dots-2 {
      width: 115px;
      height: 40px;
      right: -5px;
      top: 10px;
    }
  
    /* Working Steps section */
    .working-steps {
      position: relative;
      padding: 10px;
    }
  
    .working-steps-glow-effect {
      display: block;
      max-width: 300px;
      position: absolute;
    }
  
    .working-steps-heading {
      margin-bottom: 19px;
      text-align: center;
    }
  
    .working-steps-heading p {
      padding: 8px;
      font-size: 16px;
      line-height: 20px;
    }
  
    .working-steps-description{
      padding: initial;
    }
    .row-one,
    .row-two {
      flex-direction: column;
      align-items: center;
    }
  
    .stepCard {
      width: 100%;
    }
  
    .stepCard:nth-child(odd) {
      margin-top: 0;
    }
  
    .stepCard img[alt="arrows"] {
      display: none;
    }
  
    .row-one,
    .row-two {
      gap: 32px;
    }
  
    .row-two {
      padding-top: 72px;
    }
  
    /* Category section */
    .categories {
      padding: 0 0 40px;
      gap: 8px;
    }
  
    .category-heading {
      padding: 40px 16px 0;
      margin-bottom: 19px;
    }
  
    .category-cards {
      width: 166px;
      height: 166px;
    }
  
    .category-cards h3 {
      font-size: 16px;
    }
  
    /* why choose section */
    .why-choose-section {
      padding-bottom: initial;
    }
  
    .why-choose-heading {
      padding-top: 40px;
      margin-bottom: 14px;
    }
  
    .why-choose-cards,
    .blog-cards {
      padding: 10px 10px 32px;
    }
  
    .card {
      margin-bottom: 10px;
    }
  
    /* Customer rating section */
    .customer-rating-section {
      display: none;
    }
  
    /* Blog section */
    .blog-section {
      margin-top: 40px;
      padding-bottom: 40px;
    }
  
    .blog-heading {
      padding-top: 10px;
      margin-bottom: 32px;
    }
  
    .more-blog-btn {
      width: fit-content;
      margin: 0 auto;
    }
  
  
    /* footer section */
    .upper-footer h3 {
      font-size: 32px;
      margin-bottom: 20px;
    }
  
    .us-city h4 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 25px;
    }
  
    li {
      font-size: 18px;
    }
  
    .list-3,
    .list-4,
    .list-5 {
      display: none;
    }
  
    .upper-footer {
      padding: 39px 16px;
    }
  
    .us-city .city {
      gap: 100px;
    }
  
    .load-more-btn {
      display: block;
    }
  
    .lower-footer-content {
      padding: 39px 16px 20px;
    }
  
    .footer-links {
      flex-direction: column;
    }
  
    .footer-links .links-section {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .sign-up-btn,
    .sign-up-bar input {
      padding: 10px 20px;
    }
  
    .links {
      flex-direction: column;
      margin: 0;
    }
  
    .links ul {
      display: none;
    }
  
    .payment {
      align-items: flex-start;
      margin: 0 0 35px;
    }
  
    .social-media-links img {
      margin-left: 0;
      margin-right: 15px;
    }
  
    .payment-gateways img {
      margin-left: 0;
    }
  
    .payment-gateways img:not(:last-child) {
      margin-right: 5px;
    }
  
    .payment-section p {
      text-align: start;
    }
  
    .payment-gateways {
      margin: 0 0 28px;
    }
  
    .hrLine {
      width: 100%;
      max-width: 343px;
      display: block;
      margin: 0 auto 30px;
    }
  
    .hrLine img {
      width: 100%;
    }
  
    .contact-us,
    .contact-numbe {
      padding: 10px 20px;
    }
  
    .payment-section .copyright {
      text-align: center;
    }
