:root {
  --decription-font-size: 16px;
  --heading-font-size: 32px;
}
.working-steps-section {
  display: block;
}
/* Navigaton Bar */
/* .nav-bar{
        position: sticky;
        top: 0;
        z-index: 10;
    } */
.container {
  padding: 0 5px;
}
.nav-bar {
  position: fixed;
  padding: 0;
  top: 0;
  z-index: 5;
}
.upper-nav .logo img {
  margin: 15px 16px;
  width: 73px;
}
.burgerMenu {
  display: block;
}
.lower-nav {
  display: none;
}
.nav-icon,
.web-config {
  display: none;
}

/* Main content of web page */
.web-content {
  margin-top: 60px;
  padding-bottom: 47px;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
.crossLine {
  display: none;
}
.web-heading-left {
  width: 100%;
  text-align: center;
}
.web-heading-left .glow {
  width: 250px;
  left: 0px;
  top: -5px;
}
.web-heading-left h1 {
  max-width: 320px;
  font-size: 32px;
  line-height: 42px;
  margin: 40px auto 16px;
}
.web-heading-left p {
  font-size: 16px;
  line-height: 42px;
  line-height: 18px;
  padding: 0 25px;
}
.web-heading-right {
  margin-top: 0;
  margin-right: 0;
}
.web-heading-right .main-img {
  width: 311px;
}
.heroImg-1 {
  width: 110px;
  left: 41px;
  top: 20px;
  z-index: -1;
}
.heroImg-2 {
  width: 110px;
  right: 0px;
  bottom: 25px;
  z-index: -1;
}
.dots-1 {
  width: 115px;
  height: 40px;
  left: -56px;
  bottom: 50px;
}
.dots-2 {
  width: 115px;
  height: 40px;
  right: -5px;
  top: 10px;
}

/* Working Steps section */
.working-steps {
  position: relative;
  padding: 10px;
}
.working-steps-glow-effect {
  display: block;
  max-width: 300px;
  position: absolute;
}
.working-steps-heading {
  margin-bottom: 19px;
  text-align: center;
}
.working-steps-heading p {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
}
.row-one,
.row-two {
  flex-direction: column;
  align-items: center;
}
.stepCard {
  width: 100%;
}
.stepCard:nth-child(odd) {
  margin-top: 0;
}
.stepCard img[alt="arrows"] {
  display: none;
}
.row-one,
.row-two {
  gap: 32px;
}
.row-two {
  padding-top: 72px;
}

/* Category section */
.categories {

  padding: 0 0 40px;
  gap: 12px;
}
.category-heading {
  padding: 40px 16px 0;
  margin-bottom: 19px;
}
.category-cards {
  width: 166px;
  height: 166px;
}
.category-cards h3 {
  font-size: 16px;
}

/* why choose section */
.why-choose-heading{
    padding-top: 40px;
    margin-bottom: 14px;
  }
.why-choose-cards, .blog-cards{
    /* flex-direction: column; */
    padding: 10px 10px 40px;
}
.why-choose-card, .blog-section{
    margin-bottom: 10px;
}

/* Customer rating section */
.customer-rating-section{
    display: none;
}

/* Blog section */

.blog-section{
    margin-top: 40px;
    padding-bottom: 10px;
}
.blog-heading{
    padding-top: 10px;
    margin-bottom: 32px ;
}
.blog-heading h2{
    min-width: 350px;
}