@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --heading-font-color: #373a36;
  --description-font-color: #0071b4;
  --description-font-size: 16px;
  --heading-font-size: 56px;
  --padding-of-sections-tb: 80px;
  --padding-of-sections-lr: 120px;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('fonts/circular-std/CircularStd-Book.eot');
  src: local('Circular Std Book'), local('CircularStd-Book'),
      url('fonts/circular-std/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
      url('fonts/circular-std/CircularStd-Book.woff2') format('woff2'),
      url('fonts/circular-std/CircularStd-Book.woff') format('woff'),
      url('fonts/circular-std/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Adobe Caslon Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Adobe Caslon Pro Regular'), url('fonts/Adobe-Caslon-Pro/ACaslonPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'OPTIBakerDanmarkOne';
  src:url('fonts/OPTI-baker-danmark/OPTIBakerDanmarkOne.ttf.woff') format('woff'),
      url('fonts/OPTI-baker-danmark/OPTIBakerDanmarkOne.ttf.svg#OPTIBakerDanmarkOne') format('svg'),
      url('fonts/OPTI-baker-danmark/OPTIBakerDanmarkOne.ttf.eot'),
      url('fonts/OPTI-baker-danmark/OPTIBakerDanmarkOne.ttf.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
}

body{
  font-family: 'Circular Std Book';
}

a {
  text-decoration: none;
  color: black;
}
input:focus{
  outline: none;
}
li:hover, .payment-section img:hover, .contact-number span:hover{
  transform: scale(1.1);
}
body {
  height: 100vh;
  position: relative;
}

.working-steps, .category, .why-choose, .customer-rating, .blog, .upper-footer{
  padding: var(--padding-of-sections-tb) var(--padding-of-sections-lr)
}
/* Button CSS */
.btn {
  padding: 15px 45px;
  color: white;
  background-color: #79AE48;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.btn:hover , .btn:active{
  background-color: #5d8636;
}

/* Card CSS */
.card {
  width: 100%;
  max-width: 357px;
  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 20px;
  overflow: hidden;
}

.card-img img{
  width: 100%;
  transition: transform .5s ease-in;
}
.card-img img:hover{
  transform: scale(1.1);
}
.card h3 {
  width: 70%;
  font-size: 24px;
  color: var(--description-font-color);
  margin-bottom: 12px;
  cursor: pointer;
}

.card p {
  font-size: var(--heading-font-color);
  color: var(--heading-font-color);
  line-height: 24px;
}

/* Navigation Bar */
.nav-bar {
  width: 100%;
  margin: auto;
  background-color: white;
}

.upper-nav {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.web-config {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang, .location{
  cursor: pointer;
}

.web-config div {
  margin-right: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.web-config span:hover{
  font-weight: 500;
}
.location img {
  width: 21px;
}

#arrowDown {
  margin-left: 4px;
  width: 12px;
}

.nav-icon {
  width: 100%;
  max-width: 231px;
  display: flex;
  justify-content: space-between;
}

.nav-icon img {
  width: 24px;
}

.lower-nav {
  width: 100%;
  max-width: 536px;
  margin: 5px auto 30px;
  padding: 0 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.lower-nav a {
  font-size: 1rem;
  font-weight: 450;
  color: var(--heading-font-color);
}
 a:hover  {
  font-weight: 800;
}
#arrowDown:hover{
  color: #D4D8EB;
  transform: rotate(180deg);
}
.burgerMenu {
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.burgerMenu img {
  width: 24px;
}

/*Main content of web page  */
.container {
  width: 100%;
  max-width: 1440px;
  /* border-left:1px solid black ;
  border-right:1px solid black ; */
}
.web-content-section{
  width: 100%;

}
.web-content {
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
.web-heading-left {
  width: 50%;
  max-width: 527px;
  position: relative;
}
.glow {
  position: absolute;
  width: 420px;
  height: 420px;
  left: -200.5px;
  top: calc(50% - 420px/2 - 128px);
  background: #62C5FF;
  opacity: 0.5;
  filter: blur(177.59px);
}

/* .web-content .glow {
  width: 500px;
  position: absolute;
  left: 0px;
  top: -10px;
  z-index: -1;
} */

.web-heading-left h1 {
  color: var(--heading-font-color);
  font-family:'Playfair Display';
  font-size: 65px;
  font-weight: 400;
  line-height: 80px;
  margin-bottom: 30px;
}

.blueText {
  color: #0071b4;
}

.web-heading-left p {
  color: #3d5368;
  font-family: 'Adobe Caslon Pro Regular';
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 33px;
  padding-right: 10px;
}

.web-heading-right {
  width: fit-content;
  margin-top: 40px;
  position: relative;
}

.web-heading-right .main-img {
  display: inline-block;
  max-width: 100%;
  margin: 0 auto;
  z-index: 3;
}

.hero-img-vector {
  position: absolute;
}

.heroImg-1 {
  left: 60px;
  top: 55px;
  z-index: -1;
}

.heroImg-2 {
  right: 1px;
  bottom: 45px;
  z-index: -1;
}

.dots-1 {
  transform: rotate(90deg);
  left: -102px;
  bottom: 160px;
  z-index: -1;
}

.dots-2 {
  right: -20px;
  top: 20px;
}

/* Working Steps section  */
.working-steps-section {
 /* padding: var(--padding-of-sections-tb)  var(--padding-of-sections-lr); */
  width: 100%;
  background-color: #f0f7fb;
}

.crossLine{
  /* Rectangle 42414 */
  /* position: relative; */
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgba(240, 247, 251, 0) 0%, #F0F7FB 100%);
}
.working-steps-heading img {
  position: absolute;
  right: 81%;
  bottom: 6.25rem;
  width: 15vw;
  /* min-height: 358px; */
}

.working-steps {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.working-steps-glow-effect {
  display: none;
}

.heading {
  width: 100%;
  max-width: 710px;
  margin: 0 auto 69px;
  text-align: center;
}

.working-steps-heading {
  position: relative;
  /* padding-top: 50px; */
}

.working-steps-description {
  width: 100%;
  /* padding: 50px;  */
}

.row-one,
.row-two {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 127px;
}

.row-two {
  flex-direction: row-reverse;
}

.step-1,
.step-2,
.step-3,
.step-4,
.step-5,
.step-6 {
  position: relative;
  z-index: 4;
}

.stepCard img[alt="arrows"] {
  position: absolute;
  width: 285px;
  height: 114px;
}

.step-1 img[alt="arrows"] {
  right: -240px;
  top: 0;
  z-index: -1;
}

.step-2 img[alt="arrows"] {
  right: -250px;
  top: 70px;
  z-index: -1;
}

.step-3 img[alt="arrows"] {
  width: 129px;
  height: 469px;
  right: -76px;
  top: 95px;
  z-index: -1;
}

.step-4 img[alt="arrows"] {
  left: -240px;
  top: 10px;
  z-index: -1;
}

.step-5 img[alt="arrows"] {
  left: -240px;
  top: 85px;
  z-index: -1;
}

.step-6 img[alt="arrows"] {
  right: -240px;
  top: 0;
  z-index: -1;
}

.stepCard {
  margin: 10px;
  width: 30%;
  max-width: 329px;
  height: 360px;
  text-align: center;
}

.stepCard:nth-child(odd) {
  margin-top: 149px;
}

.stepCard img {
  width: 100%;
  max-width: 329px;
  margin-bottom: 20px;
}

.stepCard h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}

.stepCard p {
  color: var(--heading-font-color);
  font-size: var(--description-font-size);
  line-height: 20px;
}

/* category section */

/* .category-heading {
  padding-top: 80px;
} */
/* .category-section{
  padding: var(--padding-of-sections-lr) var(--padding-of-sections-tb)
} */
.categories {
  /* padding-bottom: 80px; */
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.category-cards {
  width: 271px;
  height: 271px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  box-shadow: inset 0 0 0 2000px #1d1d1d79;
  cursor: pointer;
  transition: transform .5s ease-in;
}

.category-cards h3 {
  width: 109px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.category-1 {
  background: url("assets/images/category-1.webp");
  background-size: cover;
}

.category-2 {
  background: url("assets/images/category-2.webp");
  background-size: cover;
}

.category-3 {
  background: url("assets/images/category-3.webp");
  background-size: cover;
}

.category-4 {
  background: url("assets/images/category-4.webp");
  background-size: cover;
}

.category-5 {
  background: url("assets/images/category-5.webp");
  background-size: cover;
}

.category-6 {
  background: url("assets/images/category-6.webp");
  background-size: cover;
}

.category-7 {
  background: url("assets/images/category-7.webp");
  background-size: cover;
}

.category-8 {
  background: url("assets/images/category-8.webp");
  background-size: cover;
}
.category-cards:hover{
  transform: scale(1.05);
}

/* why choose section */
.why-choose-section {
 /* padding: var(--padding-of-sections-tb)  var(--padding-of-sections-lr); */
  width: 100%;
  background-color: #f0f7fb;
}

.why-choose,
.blog {
  margin: auto;
}

.why-choose-heading,
.blog-heading {
  max-width: 750px;
}

.heading h2 {
  color: var(--heading-font-color);
  font-family: 'OPTIBakerDanmarkOne';
  font-size: var(--heading-font-size);
  font-weight: 100;
  line-height: 47px;

}

.heading p {
  padding: 16px 10px;
  font-size: var(--description-font-size);
  font-weight: 450;
  line-height: 25px;
}

.why-choose-cards,
.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
}


/* customer rating section */
.customer-rating-section {
 /* padding: var(--padding-of-sections-tb)  var(--padding-of-sections-lr); */
  width: 100%;
  padding-bottom: 80px;
}

.customer-rating {
  margin: auto;
  /* padding: 80px 5px 0; */
}

.customer-rating-display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rating-cards {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 14px;
}

.rating-cards img {
  width: 180px;
}

.rating-cards p {
  max-width: 353px;
}

/* blog card section */
.blog-section {
  width: 100%;
  background-color: #f0f7fb;
 /* padding: var(--padding-of-sections-tb)  var(--padding-of-sections-lr); */
}

.blog-card {
  margin-bottom: 24px;
}

.more-blog-btn {
  width: fit-content;
  margin: 32px auto 0;
}

/* footer section */
.footer {
  width: 100%;
  color: #ffffff;
  background: rgba(85, 88, 90, 1) url("assets/vectors/footerBg.svg") no-repeat;
  background-size: cover
}
.footer li{
  cursor: pointer;
}
.footer-content {
  margin: 0 auto;
}

.upper-footer {
  margin: 0 auto;
  /* padding: 50px 50px; */
}

.upper-footer h3 {
  font-size: 48px;
  font-weight: 100;
  margin-bottom: 60px;
}

.list-of-city {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.us-city h4,
.canada-city h4 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 36px;
}

.us-city .city,
.canada-city .city {
  display: flex;
  justify-content: space-between;
  gap: 50px;

}

ul {
  list-style: none;
}

.us-city ul li,
.canada-city ul li {
  margin: 20px 0;
}

.load-more-btn {
  display: none;
  width: 186px;
  margin: 26px auto;
  padding: 15px;
  text-align: center;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}

.lower-footer {
  background-color: var(--description-font-color);
}

.lower-footer-content {
  margin: 0 auto;
  padding: 50px 50px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-links .links-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.links {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 60px;
}

.links h4 {
  margin: 0 0 24px;
}

.links ul li {
  margin: 0 0 16px;
}

.sign-up-bar h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 20px;
}

.input-section input {
  width: 65%;
  max-width: 470px;
  padding: 15px 20px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 7px;
}
.input-section input::placeholder{
  color: #ffffff;
}
.sign-up-btn {
  width: 32%;
  max-width: 195px;
}

.payment-section p {
  text-align: end;
  font-size: 16px;
  font-weight: 600;
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0 0 147px;
}

.social-media-links img {
  width: 18px;
  margin-left: 15px;
  cursor: pointer;
}

.social-media-links {
  margin: 0 0 30px;
}

.payment-gateways img {
  width: 56px;
  margin-left: 7px;
  cursor: pointer;
}

.payment-gateways {
  margin: 0 0 48px;
}

.payment h5 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px;
}

.payment p {
  color: #D4D8EB;
  font-size: 18px;
  font-weight: 450;
  margin: 0 0 30px;
}

.hrLine {
  display: none;
}

.contact-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-us {
  width: 47%;
}

.contact-number {
  width: 47%;
  color: white;
  background-color: transparent;
  padding: 10px;
  text-align: center;
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;
}

.contact-number img {
  width: 15px;
  vertical-align: middle;

}

.contact-number span {
  vertical-align: middle;
}

@media screen and (max-width: 1440px) {
  .nav-bar {
    padding: 0 50px;
  }

  .web-content {
    padding: 0 50px 10px;
  }

  /* .web-heading-left h1 {
    font-size: 52px;
  } */

  .step-1 img[alt="arrows"] {
    right: -245px;
    top: -53px;
    z-index: -1;
  }

  .step-2 img[alt="arrows"] {
    right: -250px;
    top: 70px;
    z-index: -1;
  }

  .step-3 img[alt="arrows"] {
    width: 129px;
    height: 469px;
    right: -46px;
    top: 95px;
    z-index: -1;
  }

  .step-4 img[alt="arrows"] {
    width: 229px;
    left: -170px;
    top: -10px;
    z-index: -1;
  }

  .step-5 img[alt="arrows"] {
    left: -240px;
    top: 85px;
    z-index: -1;
  }

  .step-6 img[alt="arrows"] {
    right: -240px;
    top: 0;
    z-index: -1;
  }

  .stepCard:nth-child(odd) {
    margin-top: 100px;
  }

  .customer-rating {
    padding: 80px 5px 0;
  }
}

@media screen and (min-width: 1600px) {
  .working-steps-heading img{
    width: 260px;
    /* height: ; */
  }
}