*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

/* Navigaton Bar */
.nav-bar{
    /* position: fixed; */
    width: 100%;
    background-color: white;
}
.upper-nav{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.web-config {
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-config div{
    margin-right: 20px ;
    display: flex;
    justify-content: start;
    align-items: center;
}
.location img{
    width: 21px;
}
#arrowDown {
    margin-left: 4px;
    width: 12px;
}
.nav-icon{
    width: 100%;
    max-width: 231px;
    display: flex;
    justify-content: space-between;
}
.nav-icon img{
    width: 24px;
}
.lower-nav{
    width: 100%;
    max-width: 516px;
    margin: 5px auto 30px;
    padding: 0 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;  
}
.lower-nav a{
    font-size: 1em;
    font-weight: 450;
    color: #373A36;
}
.burgerMenu{
    display: none;
}


/*Main content of web page  */

.web-content{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}
.web-heading-left{
    width: 100%;
    max-width: 527px;
}
.web-heading-left h1{
    font-size: 65px;
    font-weight: 400;
    line-height: 80px;
}
.blueText{
    color: #0071B4;
}
.web-heading-left p{
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
}
.web-heading-right{
    width: 40%;
    height: 558px;
    background-color: black;
}

@media screen and (max-width:600px) {
    
    /* Navigaton Bar */
    .burgerMenu{
        display: block;
    }
    .lower-nav{
        display: none;
    }
    .nav-icon, .web-config{
        display: none;
    }


    /* Main content of web page */

}