/* .working-steps-section{
    display: none;
} */
/* .web-heading-left h1{
    font-size: 46px;
} */
.web-config {
    display: none;
}
.web-heading-left h1 {
    max-width: 520px;
    font-size: 42px;
    line-height: 52px;
  }
  .web-heading-left p {
    font-size: 16px;
    line-height: 42px;
    line-height: 18px;
  }
.web-heading-right {
    margin-top: 0;
    margin-right: 0;
  }
  .web-heading-right .main-img {
    width: 311px;
  }
  .heroImg-1 {
    max-width: 110px;
    left: 41px;
    top: 20px;
    z-index: -1;
  }
  .heroImg-2 {
    max-width: 110px;
    right: 0px;
    bottom: 25px;
    z-index: -1;
  }
  .dots-1 {
    max-width: 115px;
    height: 40px;
    left: -56px;
    bottom: 50px;
  }
  .dots-2 {
    max-width: 115px;
    height: 40px;
    right: -30px;
    top: 10px;
  }

  .stepCard{
    margin: 0;
    width: 30%;
  }
  .stepCard:nth-child(odd) {
    margin-top: initial;
  }
  .stepCard img[alt="arrows"] {
    display: none;
  }
  .row-one, .row-two{
    gap: 40px;
    margin-bottom: 40px;
  }
  .row-two{
    flex-direction: row;
  }